.tabs {
  margin: 20px 20px 0;
  display: flex;

  .inner {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
  }

  .left {
    margin: 0 10px 0 0;
    background-color: #fff;
    border-color: rgba(#000, 0.1);
  }

  .right {
    margin: 0 0 0 10px;
    background-color: #fff;
    border-color: rgba(#000, 0.1);
  }

  .tab {
    cursor: pointer;
    background-color: #fff;
    margin-right: 3px;
    border-color: rgba(#000, 0.1);
    padding: 0 8px 0 12px;

    &:hover {
      font-weight: bold;
    }

    .title {
      padding-right: 5px;
    }
  }
}
